body {
  background-color: #F0FAFF;
  --a: #2bd8ff;
}
p {
  font-family: 'Work Sans', sans-serif;
  color: #4E5458;
  font-weight: 800;
  font-size: 25px;
}
.bold {
  font-family: 'Azeret Mono', monospace;
}
