*{
  margin: 0px;
  padding: 0px;
  }body {
  background-color: #F0FAFF;
  --a: #FFF700;
  margin: 0px;
  padding: 0px;
}
p {
  font-family: 'Work Sans', sans-serif;
  color: #4E5458;
  font-weight: 800;
  font-size: 25px;
}
.navigation {
  position: fixed;
  display:flex;
  align-items: center;
  background-color: black;
  width:100%;
  height:70px;
}
.navigation button {
  color: white;
  background-color: black;
  border:0px;
  font-size:25px;
  height:100%;
  padding-left:10px;
  padding-right:10px;
}
.navigation img {
  height:100%;
}
.navigation button:hover {
  background-color:#666;
}
.bold {
  font-family: 'Azeret Mono', monospace;
}
y{color:var(--a);}

.title{
  font-size:100px;
  font-family: 'Montserrat', sans-serif;
}
.titleDiv {
  display:flex;
  align-items: center;
  width:100%;
  height:600px;
  margin-left:50px;
}
