body {
  background-color: #F0FAFF;
  --a: #FFF700;
  margin: 0px;
  padding: 0px;
}
p {
  font-family: 'Work Sans', sans-serif;
  color: #4E5458;
  font-weight: 800;
  font-size: 25px;
}
.navigation {
  position: fixed;
  background-color: black;
  width:100%;
}
.navigation button {
  color: white;
  background-color: black;
  font-size: 20px;
  border:0px;
  padding:2px;
}
.navigation button:hover {
  background-color:#333;
.bold {
  font-family: 'Azeret Mono', monospace;
}
